<section class="hero">
    <h1 class="display-4">Aumente seu faturamento com estratégias personalizadas de tráfego pago!</h1>
    <p class="lead">Descubra tudo que sua empresa precisa para se posicionar na internet e finalmente aumentar suas vendas em uma consultoria 100% personalizada e gratuita!

    </p>
    <div class="cta-buttons">
      <a href="https://wa.me/seunumerowhatsapp" class="btn btn-success" target="_blank">Fale no WhatsApp</a>
      <a href="https://instagram.com/suaempresa" class="btn btn-outline-primary" target="_blank">Nosso Instagram</a>
    </div>
</section>