<section class="hero">
    <div class="hero-container">
    <img [src]="'./assets/Logo.webp'" alt="Alpha Company Ads Logo" class="brand-logo">
    <h1 class="display-4">ASSESSORIA DE MARKETING DIGITAL <br> Especializada na captação de clientes para pequenas e médias empresas</h1>
    
    <p class="lead">Toque no botão a baixo para agendr uma assesoria gratuita!
<!--

ASSESSORIA DE MARKETING DIGITAL especializada na captação de clientes para pequenas e médias empresas


    <h1 class="display-4">Aumente seu faturamento com estratégias personalizadas de tráfego pago!</h1>
    <p class="lead">Descubra tudo que sua empresa precisa para se posicionar na internet e finalmente aumentar suas vendas em uma consultoria 100% personalizada e gratuita!

-->
    </p>
    <div class="cta-buttons">
        

        <a class="cta-button" href="#contactFormSection">
                Quero Vender mais !!!
        </a>            

    </div>

    <!-- 


Agende já uma reunião
    -->

</div>
</section>