.hero {
    background: linear-gradient(135deg, #1a1a1a, #0017f9);
    min-height: 90vh; /* Makes hero section take at least 80% of viewport height */
    padding: 5rem 2rem;
    color: #ffffff;
    text-align: center;
   /* border-radius: 6px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Monrserrat, sans-serif;
}

.cta-buttons .btn {
    margin: 0.5rem;
}

.cta-button{
    background-color: #FF4900;
    color: #0D0900;
    padding: 10px 80px;
    border: none;
    border-radius: 13px;
    font-size: 18px;
    cursor: pointer;
    transition-duration: .3s;
    transition-property: transform;
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .hero {
        min-height: 90vh;
        padding: 3rem 1rem;
    }
}
