<section class="contact-section">
    <div class="container">
      <div class="contact-content">
        <h2 class="contact-title">Entre em Contato</h2>
        <div class="divider"></div>
        <p class="contact-description">Vamos criar juntos a estratégia ideal para sua empresa.</p>
        <div class="cta-buttons">
          <a href="mailto:contato@alphacompany.com" class="btn btn-contact email-btn">
            <i class="bi bi-envelope-fill"></i>
            Enviar Email
          </a>
          <a href="https://wa.me/5519995716160?text=Ol%C3%A1%2C%20Bruno%2C%20gostaria%20de%20saber%20como%20posso%20ter%20mais%20vendas%20com%20estrat%C3%A9gias%20de%20marketing." class="btn btn-contact whatsapp-btn">
            <i class="bi bi-whatsapp"></i>
            WhatsApp
          </a>
        </div>
      </div>
    </div>
</section>
