<app-header></app-header>
<app-hero id="home"></app-hero>
<app-contact-form id="contact-form"></app-contact-form>
<app-value-proposition id="value-proposition"></app-value-proposition>
<app-strengths id="strengths"></app-strengths>
<app-authority id="authority"></app-authority>
<app-about id="about"></app-about>
<app-services id="services"></app-services>
<app-contact id="contact"></app-contact>
<app-comments id="comments"></app-comments>
<app-consulting-form id="consulting"></app-consulting-form>
<app-footer></app-footer>