$primary-color: #1a1a1a; 
$secondary-color: #333333;
$accent-color: #ffffff;
$font-family: 'Open Sans', sans-serif;

body {
  font-family: $font-family;
  background-color: #000;
  color: $accent-color;
  scroll-behavior: smooth;
}

a {
  color: $accent-color;
  text-decoration: none;

  &:hover {
    color: lighten($accent-color, 10%);
  }
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 80px; /* Ajuste conforme a altura do seu header */
}

section {
    scroll-margin-top: 80px; /* Ajuste conforme a altura do seu header */
}